html {
  font-family: sans-serif;
  font-size: 14px;
}

table {
  border: 1px solid lightgray;
}

tbody {
  border-bottom: 1px solid lightgray;
}

th {
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  padding: 2px 4px;
}

td {
  border-right: 1px solid lightgray;
  padding: 2px 4px;
}

td:last-child {
  border-right: 0;
}

tfoot {
  color: gray;
}

tfoot th {
  font-weight: normal;
}

.app {
  height: 100vh;
}


.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--tw-ring-color);
  -webkit-transition: background-color 0.5;
  -moz-transition: background-color 0.5;
  -o-transition: background-color 0.5;
  transition: background-color 0.5;
}

.side-menu {
  position: fixed;
  top: 5rem;
  left: 0;
  bottom: 0;
  width: 200px;
  background-color: white;
  -webkit-transition: width 0.5s ease-in-out;
  -moz-transition: width 0.5s ease-in-out;
  -o-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}

.main-content {
  margin: 5rem 2rem 0 6rem;
  height: 100vh;
  -webkit-transition: margin 0.5s ease-in-out;
  -moz-transition: margin 0.5s ease-in-out;
  -o-transition: margin 0.5s ease-in-out;
  transition: margin 0.5s ease-in-out;
}